.button {
	background: $light-blue;
	border: none;
	color: white;
	display: inline-block;
	font-size: $m-font;
	font-weight: 300;
	line-height: 1;
	padding: $m-size;
	text-decoration: none;
}

.button__link {
	background: none;
}

.button-secondary {
	background: #888;
	padding-bottom: $s-size;
	margin-bottom: $s-size;
}