.text-input {
	border: 1px solid #cacccd;
	height: 50px;
	font-size: $m-font;
	font-weight: 300;
	padding: $s-size;
}

.select {
	@extend .text-input;
}

.textarea {
	@extend .text-input;
	height: 10rem;
}