//Colors
$dark-grey: #333333;
$regular-grey: #666;
$light-blue: #1c88bf;
$dark-blue: #364051;
$off-white: #f7f7f7;

//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

//font
$m-font: 1.8rem;
$s-font: 1.4rem;